.hero {
  margin-top: 11.6rem;

  display: grid;
  row-gap: 4rem;
  justify-items: start;

  h1 {
    width: 43rem;

    font-size: 3.6rem;
    font-weight: 600;

    span {
      color: $color-tertiary;
    }
  }

  p {
    margin-bottom: 2rem;

    width: 43rem;

    font-size: 2rem;
    font-weight: 400;
  }

  &--btn:link,
  &--btn:visited {
    padding: 1rem 1.6rem;

    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 1rem;
    align-items: center;

    color: $color-secondary;
    border: 2px solid currentColor;
    border-radius: 10px;

    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;

    .feather {
      height: 1.8rem;
      width: auto;
    }
  }
}
