// COLORS
$color-primary: #faf5f1;
$color-secondary: #3d1f05;
$color-tertiary: #d98135;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;
$bp-large: 62.5em;
$bp-larger: 56.25em;
$bp-medium: 50em;
$bp-small: 37.5em;
